{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col s12 m6 l4 offset-l4 offset-m3">
        <div class="card white darken-1">
            <div class="card-content">
                <span class="card-title">Sign In</span>
                <div class="row">
                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <form action="{{ path("fos_user_security_check") }}" method="post" class="col s12">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}

                        <div class="input-field col s12">
                            <label for="username">{{ 'security.login.username'|trans }}</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                        </div>

                        <div class="input-field col s12">
                            <label for="password">{{ 'security.login.password'|trans }}</label>
                            <input type="password" id="password" name="_password" required="required" />
                        </div>
                        <!--
                        <div class="input-field col s12">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                        </div>
                        -->

                        <div class="col s12 right-align m-t-sm">
                            <a href="{{ url('fos_user_registration_register') }}" class="waves-effect waves-grey btn-flat">{{ 'layout.register'|trans }}</a>
                            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="waves-effect waves-light btn teal" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


